.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background: transparent;
    color: hsl(180, 100%, 25%);
    border: none;
    cursor: pointer;
    margin: 0 0 0 20px;
    transition: 1s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:active {
    color: hsl(180, 100%, 45%);
}

.buttons__button:disabled {
    border: none;
    cursor: not-allowed;
    color: #ccc;
}